<div class="{{class}}">
        <label class='{{class}}_label' for={{name}}>{{label}}</label>
        <input class='{{class}}_input' type={{type}} name={{name}} id={{id}} placeholder={{placeholder}} />
        
        {{#if label}}<label class='{{class}}_label fail_color' for={{name}}>{{errorText}}</label>{{/if}}
</div>