<div class='login_wrap'>
  <div class='login_window'>
    <div class='login_title'>Регистрация</div>
    <form id="register_form">
      {{{mail}}}
      {{{login}}}
      {{{user_name}}}
      {{{user_family}}}
      {{{phone}}}
      {{{user_pass_1}}}
      {{{user_pass_2}}}
      <div class='text__field buttons_group'>
        {{{sigh_in}}}
        {{{cancel}}}
      </div>

    </form>
  </div>
</div>