
<div class='login_wrap'>
      <div class='login_window'>
        <div class='login_title'>Регистрация</div>

        {{#each registration}}
        <div class='text_field'>
          <label class='text_field__label' for={{name}}>{{label}}</label>
          <input class='text_field__input' type={{type}} name={{name}} id={{id}} placeholder={{placeholder}}>
          <label class='text_field__label fail_color' for={{name}}>{{fail}}</label>                             
        </div>
        {{/each}}
        
        <div class='text_field buttons_group'>
          {{>button label='Регистрация' cls='btn btn__primary'}}
          {{>button label='Нет аккаунта?' cls='btn btn__secondary'}}
        </div>
      </div>
    </div>
    